project:
  name: vcr-datamatrix-api
instance:
  name: dev
  runtime: nodejs16
  region: aws.euw1
  application-id: your_app_id
  capabilities:
    - messages-v1
  environment:
    - name: "ZENDESK_BASE_URL"
      value: "https://your_zendesk_instance_name.zendesk.com"
    - name: "ZENDESK_USERNAME"
      value: "email@example.com"
    - name: "ZENDESK_TOKEN"
      secret: "ZENDESK_TOKEN"
    - name: "INTERNAL_API_KEY"
      secret: "INTERNAL_API_KEY"
    - name: "DEBUG_ZENDESK_BASE_URL"
      value: "https://vonage1950.zendesk.com"
    - name: "DEBUG_ZENDESK_USERNAME"
      value: "toni.kuschan+zendesk2@vonage.com"
    - name: "DEBUG_ZENDESK_TOKEN"
      secret: "DEBUG_ZENDESK_TOKEN"
    - name: "DEBUG_INTERNAL_API_KEY"
      secret: "DEBUG_INTERNAL_API_KEY"
    - name: "AI_STUDIO_AGENT_ID"
      value: "xxx"
    - name: "AI_STUDIO_API_KEY"
      secret: "AI_STUDIO_API_KEY"
  secrets:
    - ZENDESK_TOKEN
    - INTERNAL_API_KEY
    - DEBUG_ZENDESK_TOKEN
    - DEBUG_INTERNAL_API_KEY
    - AI_STUDIO_API_KEY
  entrypoint:
    - npm
    - start
debug:
  name: vcr-datamatrix-api-debug
  entrypoint:
    - npm
    - run
    - start-debug
